/**----------------------------- Font Style --------------------------------------**/
*{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}

h1, h2, h3, h4, h5, h6{
    font-size: inherit !important;
}

.center{
    text-align: center;
}

.textFont8{
    font-size: 8px !important;
}

/**----------------------------- Headers Style -----------------------------------**/
.ui-header{
    height: 40px;
    padding-top: 15px;
}

.ui-header .ui-btn{
    margin-top: 15px;
}

/**----------------------------- Lists Style -------------------------------------**/
form ul{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    list-style-type: none;
    display: block;
}

form ul li{
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #CCCCCC;
    border-right: 1px solid #CCCCCC;
    background-color: #FFFFFF;
}

form ul li:first-child{
    border-top: 1px solid #CCCCCC;
}

form ul li input{
    width: 100%;
    border: none;
    background: none;
    margin: 12px 0 12px 10px;
}

form ul li select{
    width: 100%;
    border: none;
    background: none;
    margin: 13px 0 13px 10px;
}

form ul li textarea{
    width: 98%;
    border: none;
    background: none;
    margin: 12px 0 12px 10px;
}

/**----------------------------- Colors Style ------------------------------------**/
.red{
    color: #FF0000;
}

.blue{
    color: #0000FF;
}

.green{
    color: #00FF00;
}

/**----------------------------- Carousel Style ----------------------------------**/
.user-image{
    width: 98% !important;
}

/**----------------------------- Landing View ------------------------------------**/
#landing{
    background-image:url("../../img/map01.png");
    position:absolute;
}

#landing form{
    padding-top: 25%;
}

/**----------------------------- Login View --------------------------------------**/
.hr-left{
    display: block;
    float: left;
    margin-left: 0;
    width: 40.5%;
}

.hr-right{
    display: block;
    float: right;
    margin-right: 0;
    width: 40.5%;
}